#header-logo  
  .logo
    = link_to image_tag('template/logo.png'), home_path  
    %a#header-title
      %span Take
      %span This
  .punchline ...it's dangerous to go alone.

#main-controls
  .main-control.left
    .control-link
      = link_to image_tag(""), new_article_path 
    %span b
  .main-control.right
    .control-link
      = link_to image_tag(""), articles_path 
    %span a
#header-right
  #connect-links
    = link_to 'Sign in', new_user_session_path, :class => 'show-panel'
    = link_to 'Register', new_user_registration_path, :class => 'show-panel'