!!! 5
%html
  %head
    %title= "TakeThis"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #profile-panel
    #header
      =render "shared/header"
    #content
      .success= flash[:success]
      .error= flash[:error]
      = yield
    #footer